# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/social_pomodoro?schema=public"

# Telegram Bot Token (get from @BotFather)
TELEGRAM_BOT_TOKEN=""

# Telegram Web App URL (for production)
TELEGRAM_WEB_APP_URL=""
